<!doctype html>
<html lang="en">
  <head>
    {% render "head", metadata: page.metadata, title: page.title, metadescription: page.metadescription %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;600&display=swap" rel="stylesheet">

    <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script src='https://kit.fontawesome.com/fc08c5bc44.js' crossorigin='anonymous'></script>

  </head>
  <body class="{{ page.layout }} {{ page.page_class }}">
    <div class="flex justify-between content-start">
      <a href="/"><img src='/images/logo-prirodzene.png' alt="Logo Prirodzene sexuálne vzdelávanie" class='h-28 m-4'></a>
      {% render "navbar", metadata: site.metadata, page: page %}
    </div>

    <main>
      {{ content }}
    </main>


    {% render "footer", metadata: site.metadata %}
  </body>
</html>
