<!doctype html>
<html lang="en">
  <head>
    {% render "head", metadata: page.metadata, title: page.title, metadescription: page.metadescription %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;600&display=swap" rel="stylesheet">
  </head>
  <body class="{{ page.layout }} {{ page.page_class }}">
    <div id="content">
      <div class="top-bar text-center f-vztahy text-white font-bold content-center"><p>Ako sa vám páči Prirodzene? <a href="https://forms.gle/WpTXgMP7M78sxRSf6" target="_blank" class="btn btn-top-bar px-2">Podeľte sa s nami</a></p></div>
      <div class="f-zdravie md:flex md:justify-between md:content-start">
        <a href="/">
          <img src='/images/logo-prirodzene.png' alt="Logo Prirodzene sexuálne vzdelávanie" class='h-52 lg:h-36 p-4 mx-auto'></a>
        {% render "navbar", metadata: site.metadata, page: page %}
      </div>

      <main>
        {{ content }}
      </main>
    </div>

    {% render "footer", metadata: site.metadata %}

    <script src='https://kit.fontawesome.com/fc08c5bc44.js' crossorigin='anonymous'></script>
    <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', () => {

      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

      // Check if there are any navbar burgers
      if ($navbarBurgers.length > 0) {

        // Add a click event on each of them
        $navbarBurgers.forEach( el => {
          el.addEventListener('click', () => {

            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');

          });
        });
      }

    });
    </script>
  </body>
</html>
