---
layout: default
---

<h1>{{ page.title }}</h1>
<p class="text-center text-xl font-medium px-10 py-8 mb-8 topic-bar f-{{ page.topic}}">
{% assign topic = page.topic %} {% case topic %}
{% when 'telo' %}
Ľudské telo 
{% when 'identita' %}
Identita jednotlivca
{% when 'sex' %}
Sex a sexualita 
{% when 'zdravie' %}
Sexuálne zdravie
{% when 'vztahy' %}
Vzťahy a ľudské správanie
{% endcase %}
 - 
{% assign subtopic = page.subtopic %} {% case subtopic %}
{% when 'anatomia' %}
Anatómia
{% when 'vyvin' %}
Vývin človeka
{% when 'orientacia' %}
Sexuálna orientácia
{% when 'identita' %}
Rodová identita
{% when 'spolocnost' %}
Sexualita a spoločnosť
{% when 'sex-subtopic' %}
Sex
{% when 'problemy' %}
Zdravotné problémy
{% when 'infekcie' %}
Pohlavne prenosné infekcie
{% when 'bariery' %}
Antikoncepcia a bariéry
{% when 'vztahy' %}
Vzťahy
{% when 'komunikacia' %}
Komunikácia
{% endcase %}</p>

{{ content }}

<h2 class="text-center">Zdroje</h2>
{{ page.references }}

<h2 class="text-center my-8">Ďalšie články</h2>
{% render "navbar_second" %}

