---
title: Prirodzene
layout: home
i: 0
---

<div class="mx-8 md:mx-32 my-20 text-3xl text-center">
  <p>Prirodzene Web je nezisková platforma, ktorá prináša relevantné, veku primerané a odborné poznatky z
  oblasti sexuálneho vzdelávania pre dospelých a dospievajúcich ľudí.</p>
</div>

<section class='bg-yellow-200 bg-opacity-50 py-20'>
  <h2 class="text-center">Témy</h2>

  <div class='topic-categories flex flex-wrap items-stretch justify-center'>
    <div class="topic">
      <img src="images/ludske_telo.jpg" alt="Mužské pohlavné ústrojenstvo">
      <h3>Ľudské telo</h3>
    </div>
    <div class="topic">
      <img src="images/identita.jpeg" alt="Grafika pohlaví">
      <h3>Identita jednotlivca</h3>
    </div>
    <div class="topic">
      <img src="images/sex_a_sexualita.jpeg" alt="Ľudské bytosti">
      <h3>Sex a sexualita</h3>
    </div>
    <div class="topic">
      <img src="images/sexualne_zdravie.jpeg" alt="Antikoncepčné pomôcky">
      <h3>Sexuálne zdravie</h3>
    </div>
    <div class="topic">
      <img src="images/vztahy.jpeg" alt="Srdce">
      <h3 class="middle">Vzťahy a ľudské správanie</h3>
    </div>
  </div>
</section>

<section class="py-8 px-4">
  <h2 class="text-center">Ľudské telo</h2>
  {% for post in site.posts  %}
    {% if post.topic == 'Ľudské telo' %}
      {% capture times_if %}{% increment times_if %}{% endcapture %}
      {% if times_if < '3' %}
        <h3 class="f-telo p-4">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h3>
        <p>{{ post.excerpt }}</p>
        <p class='mb-8'><a href="{{ post.url }}" class=''>Čítať ďalej</a></p>
      {% endif %}
    {% endif %}
  {% endfor %}
</section>



