---
layout: articles
title: 'Ľudské telo'
permalink: /ludske-telo/
---

<section class="posts py-8 px-4">
	<h2 class="text-center">Ľudské telo</h2>
	<h3>Všetky články</h3>
	<ul>
	  {% for post in site.posts %}
		  {% if post.topic == 'telo' %}
		    <li>
		      <a href="{{ post.url }}">{{ post.title }}</a>
		    </li>
		  {% endif %}
	  {% endfor %}
	</ul>

	{% for post in site.posts %}
    {% if post.topic == 'telo' %}
      {% capture times_if %}{% increment times_if %}{% endcapture %}     
        <h4 class="f-telo p-4">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h4>
        <p>{{ post.excerpt }}</p>
        <p class='mb-8'><a href="{{ post.url }}" class="btn btn-telo">Čítať ďalej</a></p>
    {% endif %}
  {% endfor %}
</section>