@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import 'navigation', 'header';


$body-background: #fafafa;
$body-color: #000;

body {
  background: $body-background;
  color: $body-color;
  font-family: sans-serif;
}

h1, footer {
  text-align: center;
}

main {
  margin: 4rem auto;
  max-width: 80rem;
}

// @layer components {
//   .topic {
//     @apply min-w-30;
//   }
// }


.topic {
  // min-width: 200px;
  // max-width: 400px;
  width: 300px;
  text-align: center;
  text-transform: uppercase;
  margin: 0.5em 1em;
}

.topic img {
  margin-bottom: 1em;
}
