@import "/colors";

nav, .social-links {
  text-align: right;
}

nav a, .social-links a {
  text-decoration: none;
  padding: 8px 10px;
}

.nav-main {
  margin-right: 50px;
  font-size: 1.3rem;
  font-variant: small-caps;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}

nav a:hover, .social-links a:hover {
  background-color: $green;
  color: white;
}

.nav-second {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}

.nav-second a {
  flex: 1;
  text-align: center;
}

a.dropdown-item {
  text-align: left;
}