<footer class="text-white py-8">
  <p>Napíšte nám na <a href="mailto:{{ metadata.email }}">{{ metadata.email }}</a></p>
  <p class="text-small"><a href="/licencia">Licencia</a></p>
</footer>

<script src='https://kit.fontawesome.com/fc08c5bc44.js' crossorigin=”anonymous”></script>
