<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% capture page_title %}{{ title | strip_html | strip_newlines }}{% endcapture %}
<title>{% if page_title != "" %}{{ page_title | escape }} | Prirodzene {% endif %}</title>

<meta name="description" content="{{ metadescription }}" />

<!-- Social media meta tags -->
<meta property="og:title" content="Prirodzene - Sexuálne vzdelávanie pre dospelých a dospievajúcich." />
<meta property="og:description" content="O sexe a tele pre dospelých a dospievajúcich. Jasne, milo a fakticky." />
<meta property="og:image" content="images/logo-prirodzene.png" />
<meta property="og:url" content="https://prirodzeneweb.sk">
<meta name="twitter:card" content="summary_large_image">

<link rel="stylesheet" href="{% webpack_path css %}" />
<script src="{% webpack_path js %}" defer></script>
