<header class='bg-yellow-200'>
  <img-container class="inline-block w-1/3 m-8">
    <img src='images/logo-prirodzene.png' class="">
  </img-container>

  <div class='inline-block w-1/2'>
    <div class='w-50 flex-initial flex'>
    <quote class='flex inline-block justify-center flex-col'>
      <p class='text-xl'>„Kvalitné sexuálne vzdelávanie vyžaduje, aby sme odložili egá a
      pripustili, že to, čo si myslíme, že vieme, nie je skutočným odzrkadlením reality.“</p>
      <p>Emily L. Depasse</p>
    </quote>
  </div>
  </div>
</header>
