<header class='bg-gray-100'>
  <img-container class="prirodzene-logo">
    <img src='images/logo-prirodzene.png' class="prirodzene-logo">
  </img-container>

  <div>
    <p class='bg-red-100'>„Kvalitné sexuálne vzdelávanie vyžaduje, aby sme odložili egá a pripustili,
    že to, čo si myslíme, že vieme, nie je skutočným odzrkadlením reality.“</p>
    <p>Emily L. Depasse</p>
  </div>
</header>
