<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% capture page_title %}{{ title | strip_html | strip_newlines }}{% endcapture %}
<title>{% if page_title != "" %}{{ page_title | escape }} | Prirodzene {% endif %}</title>

<meta name="description" content="{{ metadescription }}" />

<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

<!-- Social media meta tags -->
<meta property="og:title" content="Prirodzene - Sexuálne vzdelávanie pre dospelých a dospievajúcich." />
<meta property="og:description" content="O sexe a tele pre dospelých a dospievajúcich. Jasne, milo a fakticky." />
<meta property="og:image" content="images/logo-prirodzene.png" />
<meta property="og:url" content="https://prirodzeneweb.sk">
<meta name="twitter:card" content="summary_large_image">

<link rel="stylesheet" href="{% webpack_path css %}" />
<script src="{% webpack_path js %}" defer></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-12Z6K5CF94"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-12Z6K5CF94');
</script>