<div class='nav-main'>
  <nav>
    <a href="/">Home</a>
    <a href="/o-nas">O nás</a>
    <a href="/clanky">Články</a>
    <a href="/odporucame">Odporúčame</a>
    <div class="dropdown is-hoverable">
      <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
          <span>Partneri</span>
          <span class="icon is-small">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <a href="/partneri" class="dropdown-item">
            Partneri
          </a>
          <a href="/partnerske-spolocnosti" class="dropdown-item">
            Partnerské spoločnosti
          </a>
        </div>
      </div>
    </div>
    <a href="/kontakt">Kontakt</a>
  </nav>
  <div class="social-links">
    <a href="https://www.instagram.com/prirodzeneweb/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.youtube.com/channel/UCCe5FEsSXyQUtj_rd85n1dA" target="_blank"><i class="fab fa-youtube"></i></a>
  </div>
</div>


