<nav class='nav-second'>
  <a href="#" class="f-telo">Ľudské telo</a>
  <a href="#" class="">Identita</a>
  <a href="#" class="f-sex">Sex</a>
  <a href="#" class="f-zdravie">Zdravie</a>
  <a href="#" class="f-vztahy">Vzťahy</a>
</nav>
