<nav class='nav-second'>
  <a href="/ludske-telo" class="f-telo">Ľudské telo</a>
  <a href="/identita" class="">Identita</a>
  <a href="/sex" class="f-sex">Sex</a>
  <a href="/sexualne-zdravie" class="f-zdravie">Zdravie</a>
  <a href="/vztahy-ludske-spravanie" class="f-vztahy">Vzťahy</a>
</nav>
