<div class='nav-main mx-5 py-3'>
  <nav>
    <a href="/">Home</a>
    <div class="dropdown is-hoverable">
      <span>O nás</span>
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <a href="/o-nas" class="dropdown-item">
            O nás
          </a>
          <a href="/tim" class="dropdown-item">
            Tím
          </a>
          <a href="/obcianske-zdruzenie-prirodzene" class="dropdown-item">
            Občianske združenie
          </a>
        </div>
      </div>
    </div>
    
    <a href="/clanky">Články</a>
    <a href="/odporucame">Odporúčame</a>
    <div class="dropdown is-hoverable">
      <span>Partneri</span>
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <a href="/partneri" class="dropdown-item">
            Partneri
          </a>
          <a href="/partnerske-spolocnosti" class="dropdown-item">
            Partnerské spoločnosti
          </a>
        </div>
      </div>
    </div>
    <a href="/kontakt">Kontakt</a>
  </nav>
  <div class="social-links">
    <a href="https://www.instagram.com/prirodzeneweb/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.youtube.com/channel/UCCe5FEsSXyQUtj_rd85n1dA" target="_blank"><i class="fab fa-youtube"></i></a>
  </div>
</div>



