<div class='nav-main'>
  <nav>
    <a href="/">Home</a>
    <a href="/o-nas">O nás</a>
    <a href="/clanky">Články</a>
  </nav>
  <div class="social-links">
    <a href="https://www.instagram.com/prirodzeneweb/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.youtube.com/channel/UCCe5FEsSXyQUtj_rd85n1dA" target="_blank"><i class="fab fa-youtube"></i></a>
  </div>
</div>
