<div class="top-bar text-center f-vztahy text-white font-bold md:flex justify-between">
	<p>Ako sa vám páči Prirodzene? 
		<a href="https://forms.gle/WpTXgMP7M78sxRSf6" target="_blank" class="btn btn-outline-yellow mx-4 inline-block">Podeľte sa s nami</a>
	</p>
	<p>
		<a href="/2-percenta/" class="btn btn-yellow mx-4 inline-block">Vaše 2 %</a>
	</p>
</div>