<div class="top-bar text-center f-vztahy text-white font-bold content-center">
	<p>Ako sa vám páči Prirodzene? 
		<a href="https://forms.gle/WpTXgMP7M78sxRSf6" target="_blank" class="btn btn-top-bar mx-4 inline-block">Podeľte sa s nami</a>
	</p>
</div>